<div class="unordered-sentence-full-screen">
	<!--Start Section-->
	<div ng-show="!startVisible" class="start-screen">
		<div class="game-title">
			<div class="inner">
				<div class="unordered-sentence-word">
					Unordered
				</div>
				<div class="unordered-sentence-word">
					Sentence
				</div>
			</div>

		</div>
		<div class="unordered-sentence-game-middle">
			<unordered-sentence-button class="unordered-sentence-button unordered-sentence-button-lg"
			        ng-click="startShowHide(); gameShowHide(); replayTimer()"> START
			</unordered-sentence-button>
			<br>
			<unordered-sentence-button class="unordered-sentence-button unordered-sentence-button-lg"
			        ng-click="startShowHide(); instructionShowHide()"> HOW TO
			</unordered-sentence-button>
			<br>
			<unordered-sentence-button class="unordered-sentence-button unordered-sentence-button-lg"
			        ng-click="startShowHide(); scoreShowHide()"> SCORE
			</unordered-sentence-button>
		</div>

	</div>

	<!--Instruction Section-->
	<div class="unordered-sentence-instruction-section" ng-show="instructionVisible">
		<div>
			Move the words arround to complete the sentence
		</div>
		<div>
			<unordered-sentence-button class="unordered-sentence-button"
			        ng-click="startShowHide(); instructionShowHide()">
				Exit
			</unordered-sentence-button>
		</div>
	</div>

	<!--Score Section-->
	<div class="unordered-sentence-score-section" ng-show="scoreVisible">
		<div>
			Name Location Score Time
		</div>
		<unordered-sentence-button class="unordered-sentence-button" ng-click="startShowHide(); scoreShowHide()">
			Exit
		</unordered-sentence-button>
	</div>

	<!--Game Section-->
	<div ng-show="gameVisible">
		<div class="unordered-sentence-buttonHolder">
			<table width="100%" class="actions">
				<tr>
					<td colspan="2">
						<span style="color:#d43f3a; font-size: 20px">Timer: {{countDown}} </span>
					</td>
					<td colspan="2">
						<span style="color:#d43f3a; font-size: 20px">Score: {{scoreMark}} </span>
					</td>
				</tr>
			</table>
		</div>
		<div class="unordered-sentence-container">
			<div class="game-body">
				<div class="game-container" on-drag-end="onDropComplete()">
					<ul ng-sortable="{animation:150}">
						<li ng-repeat="obj in draggableObjects">
							<div class="sortable-item-inner">
                              {{ obj }}
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="unordered-sentence-buttonHolder">
			<table width="100%" class="actions">
				<tr>
					<td colspan="2">
						<unordered-sentence-button class="unordered-sentence-button" ng-click="startShowHide(); gameShowHide()">
							Exit
						</unordered-sentence-button>
					</td>
					<td colspan="2">
						<span style="color:#d43f3a; font-size: 20px"> Falling Cloud </span>
					</td>
				</tr>
			</table>
		</div>

	</div>


</div>
